:root {
	--color-primary: #13505B;
	--color-secondary: #0C7489;
	--color-tertiary: #119DA4;
	--color-accent: #D7D9CE;
	--color-dark: #040404;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--color-primary);
	color: #efcb68;
	margin: 0;
}
