/* IBM Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Spectral */
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #0f434c;
  --color-secondary: #0c7489;
  --color-tertiary: #119da4;
  --color-accent: #d7d9ce;
  --color-dark: #1c1c1c;
  --color-test: #194f58;
  --color-white: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-accent);
  margin: 0;
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  height: 8px;
}

/* Handle or Thumb */
::-webkit-scrollbar-thumb {
  background-color: var(
    --color-accent
  ); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set the border radius of the scrollbar thumb */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(
    --color-secondary
  ); /* Set the color of the scrollbar track */
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Set the color of the scrollbar corner */
}
