:root {
	--color-primary: #13505b;
	--color-secondary: #0c7489;
	--color-tertiary: #119da4;
	--color-accent: #d7d9ce;
	--color-dark: #040404;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--color-primary);
	color: var(--color-accent);
}
